table th.sortable,
table th.sortable-text,
table th.sortable-date,
table th.sortable-keep,
table th.sortable-date-dmy,
table th.sortable-numeric,
table th.sortable-currency,
table th.sortable-sortByTwelveHourTimestamp,
table th.sortable-sortIPAddress,
table th.sortable-sortEnglishLonghandDateFormat,
table th.sortable-sortScientificNotation,
table th.sortable-sortImage,
table th.sortable-sortFileSize,
table th.sortable-sortAlphaNumeric,
table th.sortable-sortEnglishDateTime {
	cursor: pointer;
	background-image: url(../images/bg_header_sortable.png);
	background-repeat: no-repeat;
}

table th.forwardSort {
	background-image: url(../images/bg_header_down.png); 
	background-repeat: no-repeat;
}

table th.reverseSort {
	background-image: url(../images/bg_header_up.png);
	background-repeat: no-repeat;
}

table thead th.forwardSort a,
table thead th.reverseSort a {
	color:#000;
	text-decoration:none;
}

table th span {
	display: none;
}

table th a:link, table th a:visited {
	color: inherit;
	/*text-decoration:none;*/
}

/*
   Add the following to your CSS file should you wish the cursor to
   "wait" while the script is processing the sort
*/
body.sort-active * {
	cursor:wait;
}


